{% extends 'base.html.twig' %}

{% block title %}Identifícate{% endblock %}

{% block body %}
<div class="container mb-5">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">Usuario o contraseña incorrectos</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Iniciado sesión como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar  sesión</a>
            </div>
        {% endif %}
        {% if registrado %}
            <h2 class="text-center text-seconary">Ya estás registrado! Se ha enviado un correo de confirmación a su dirección de correo</h2>
        {% endif %}
        <div class="container-fluid border p-0">
            <div class="bg-primary h-25 py-1 mb-2 pl-2"><h2 class="h3-md h5 font-weight-bold text-secondary">Introduce una dirección de correo y contraseña</h2></div>
            <div class="container-fluid ml-1">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </div>
            <div class="row m-1">
                <button class="btn btn-lg btn-outline-primary col-md-2 col-3   ml-2 rounded   btn-sm" type="submit">Iniciar sesión</button>
                <a href="/register" class="btn   btn-outline-primary btn-sm mr-2  col-md-2 col-3 offset-md-6 offset-4 rounded ">Registrarme</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
