html {
    overflow: hidden;
}
body {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}
.parallax-wrapper {
    transform-style: preserve-3d;
}
.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
}
.regular-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-image: url("fondo1.jpg");
}
.regular-wrapper2 {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-image: url("fondo1.jpg");
}
.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;

}
.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("fondo2.jpg");
    position: absolute;
    z-index: -1;
}
.parallax-wrapper::before {
    transform:translateZ(-1px) scale(2);

}

.parallax-wrapper::before {
    z-index: -1;
}
.regular-wrapper {
    z-index: 2;
    position: relative;
}
.regular-wrapper2 {
    z-index: -1;
    position: relative;
}