body{
    margin-left:10%;
    margin-right: 10%;
    background-color:lightgrey;
    text-align: justify;
    font-family: sans-serif;
}
h1{
    text-align: center;
    letter-spacing: 10px;
    font-size: 300%;
}
h2{
    background-color: gray;
}
p{

}