body{
    
    margin: 0 0 2em;
    background-color: #D3D3D3;
    font-family: sans-serif;
    text-align: justify;
}

h1{

    margin:0;
    padding: 1%;
    color: white;
    background-color: black;
    text-align: right;
}
h2{
   
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: white 5px solid;
}
p{
    margin:0 20%;
}
time{
    background-color: #808080;
    font-size: 2em;
    padding:1%;

    font-weight: bold;
    letter-spacing: 4px; 
    color:white;
}
p.fecha{
    border-top: 3px solid black;
    padding-top: 3%;
    margin-top: 3%;
    text-align: center;

}
strong{
    font-size: 1.2em;
    font-variant: small-caps;
}
q{
    
}
span.cargo{

}
span.lugar{

}
