@import"_mix.scss";
//COLORES

//Fondos 
$color-fondo-header:#E3FF00;
$color-fondo-lateral:#F48020;
$color-fondo-contenido:#AAABA9;
$color-fondo-footer:#9393a7;
$color-fondo-section-lateral:#FFF55C;
$color-fondo-section-contenido:white;


//Texto
$color-texto-header:#C50A32;

$color-texto:black;


//Fuentes
@font-face{
    font-family: "StanilistOne"  ;src: url("../fuentes/StalinistOne-Regular.ttf");
}
@font-face{
    font-family: "Cinzel"  ;src: url("../fuentes/Cinzel-VariableFont_wght.ttf");
}

$fuente-titulo:StanilistOne;
$fuente-texto:Cinzel;

body{

    h1,h2,h3,h4,h5{
        font-family: $fuente-titulo;
        text-shadow:
            2px 2px 0 #AAA,
            12px 12px 8px #444;
    }
    h1{
        
    }
    font-family: $fuente-texto;

    background: linear-gradient(to right , $color-fondo-lateral,$color-fondo-lateral,$color-fondo-section-lateral,$color-fondo-section-lateral);

    font-weight: bold;
    margin:0;
}

@import "_header.scss";
@import "_contenido-index.scss";
@import "_footer.scss";

