main{
    font-family: $fuente-texto;
    div.lateral{
    background-color: $color-fondo-lateral;
    float: right;
    width: 400px;
    section{
        h3{
            color:$color-texto-titulo-zona;
        }
        div{
            background-color: $color-fondo-section-lateral;
            color: $color-texto;
        }
    }

    }
    div.contenido{
        background-color: $color-fondo-contenido;

    }
}
