header{
    background-color: $color-fondo-header;
    @include tamaño-seccion(auto,150px);
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    img{
        @include tamaño-imagen(100px,100px);
        float: left;
    }

    h1{
        color:$color-texto-header;
    }

    div{
        @include tamaño-seccion(100px,50px);
        float: right;
        button{
            @include tamaño-imagen(50px,50px);
            border-radius: 60%;
            float: right;
            background-color: $color-fondo-lateral;
            img{
                width: 100%;
                height: auto;
                overflow: hidden;
                border-radius: 100%;
                right:10px;
            }
        }
    }
}
nav{
    background-color: $color-fondo-lateral;
    margin: 0;
    padding: 0.05%;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $color-texto-titulo-zona;
                font-weight: bold;

                font-size: 1.5em;
            }
        }
        li:hover{
            background-color: $color-fondo-section-lateral;
        }
    }
}