header{
    background-color: $color-fondo-header;
    img{
        @include tamaño-imagen(100px,100px);
        float: left;
    }
    h1{
        color:$color-texto-header;
        font-family: $fuente-titulo;

    }
    div{
        float: right;
        img{
            @include tamaño-imagen(70px,700px);
        }
    }
}