//VARIABLES
//Color por defecto
$color-claro:#eee;
$color-oscuro:#666;
//Color al pasar el  por encima
$color-claro-pasar:#fff;
$color-oscuro-pasar:#888;

//nomargin y nopadding 
@mixin no-margin-padding{
    margin:0px;
    padding:0px;
}
@mixin colores{
    color:$color-claro;
    background-color: $color-oscuro;
}
@mixin colores-pasar{
    color:$color-claro-pasar;
    background-color: $color-oscuro-pasar;
}
@mixin box-sizing($parametro){
    -moz-box-sizing: $parametro;
    -webkit-box-sizing: $parametro;
    box-sizing: $parametro;
}

@mixin transiciones($property,$duration,$timing){
    -moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}
@mixin animaciones($name,$duration, $timing){
    -moz-animation: $name $duration $timing;
    -webkit-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

@import "_menu.scss";