{% extends 'base.html.twig' %}

{% block title %}EDITAR PRODUCTO{% endblock %}

{% block body %}
 <div class="container mb-5 ">
    <div class="  miheader2 mb-5 pb-2 rounded">
        <div class="encabezadoBack px-1 rounded"><h1>EDITAR PRODUCTO</h1></div>
        <div class="container-fluid">
            {{ include('producto/_form.html.twig', {'button_label': 'Guardar'}) }}
            <div >
                {{ include('producto/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
<a href="{{ path('producto_index') }}"><h4>INICIO<img class="interaccionesBackend rounded " src="{{asset('imgs/volver.png')}}"></img></h4></a>
{% endblock %}
