{% extends 'base.html.twig' %}

{% block title %}NUEVO PRODUCTO{% endblock %}

{% block body %}
<div class="container mb-5">
    <div class="container-fluid border p-0 miheader2 rounded shadow mb-5">
        <div class="encabezadoBack pl-3 text-dark mb-auto rounded">
            <h1>NUEVO PRODUCTO</h1>
        </div>

        {{ include('producto/_form.html.twig') }}
    </div>
</div>
<div><a href="{{ path('producto_index') }}"><h4>INICIO<img class="interaccionesBackend rounded " src="{{asset('imgs/volver.png')}}"></img></h4></a></div>   
<script>
var letras=0;
$("textarea").on("keyup",function(e){
  tecla = (document.all) ? e.keyCode : e.which;
      if(tecla>32)
	      letras++;
      if(letras>10&&tecla==32){
        letras=0;
        $(this).val($(this).val()+'\n');
      }
      return true;
})
</script>
{% endblock %}
