{% extends 'base.html.twig' %}

{% block title %}NUEVO PRODUCTO{% endblock %}

{% block body %}
        <h1>AÑADIR UN NUEVO PRODUCTO</h1>

            {{ include('producto/_form.html.twig') }}

        <a href="{{ path('producto_index') }}">Volver</a>

{% endblock %}
