body{
    background-color: #c6d9ee;
    text-align: justify;
    font-family: sans-serif;
}

h1{
    font-size: 3em;
    text-align: right;
}
h2{
    font-family: monospace;
    font-variant: small-caps;
    font-size: 2.5em;
}
p{
    text-indent: 4%;
    line-height: 2em;
}
span{
    color: red;
    font-family: cursive;
}
strong{
    color: chocolate;
}
em{
    color: green;
    background-color: white;
}
time{
    color: orange;
}
address{
    text-align: center;
    font-size: 0.8em;
}