{% extends 'base.html.twig' %}

{% block body %}

<!-- Modales usuario-->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="misdatosModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-secondary">MODIFICAR DATOS</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="contenidodatosModal"></p>
        </div>
      </div>
    </div>
</div>

<!--  Modal Productos -->
      <div class="modal fade " id="productView" tabindex="-1" role="dialog" aria-hidden="true" style="height:500px">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:500px">
          <div class="modal-content" style="height:500px">
            <div class="modal-body p-0">
              <div class="row align-items-stretch overflow-scroll" style="height:500px">
                <div class="col-lg-6 p-lg-0">
                  <a class="product-view d-block h-100 bg-cover bg-center"  href="" data-lightbox="productview" title="">
                  </a>
                </div>
                <div class="col-lg-6 ">
                  <button class="close p-4" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="p-5 my-md-4">
                    <h2 class="h4"></h2>
                    <p class="text-muted">$250</p>
                    <p class="text-small mb-4 "></p>
                    <div class="row align-items-stretch mb-4">
                      <div class="col-sm-5 pl-sm-0"><a id="carritoModal" class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="#">Agregar al carrito</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- HERO SECTION-->
      <div id="pagina" class="container">
        <section class="hero rounded-circle shadow pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(imgs/fondoindex.jpg)">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">2021</p>
                <h1 class="h2 text-uppercase mb-1 text-white">TU MEJOR EQUIPAMIENTO</h1>
              </div>
            </div>
          </div>
        </section>

        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
          <header>
            <p class="small text-muted small text-uppercase mb-1">CALIDAD GARANTIZADA</p>
            <h2 class="h5 text-uppercase mb-4">NOVEDADES</h2>
          </header>
          <div id="productosIndex" class="row">
            <div id="carga" class="spinner-border text-info  offset-5" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </section> 
        <!-- SERVICES-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Envio gratuito a todo a cualquier parte</h6>
                      <p class="text-small mb-0 text-muted"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Servicio 24 h </h6>
                      <p class="text-small mb-0 text-muted"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Las mejores ofertas!</h6>
                      <p class="text-small mb-0 text-muted">100% Calidad - Precio</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
{% endblock %}
{% block scripts %}
  
  {{ parent() }}
  <script src="/js/index.js"></script>
{% endblock %}