{% extends 'base.html.twig' %}

{% block title %}CATEGORÍA{% endblock %}

{% block body %}
    <h1>Añadir categoria</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('categoria_index') }}">Listar</a>
{% endblock %}
