main{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    div.lateral{
        background-color: $color-fondo-lateral;
        width: 80%;
        border-top-left-radius: 10%;
        section{
            @include padding-lateral();
            h3{
                color:$color-texto-titulo-zona;
                font-weight: lighter;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: $color-fondo-section-lateral;
                color: $color-texto;
                @include padding-lateral();
                img{
                    width: 100%;
                }
                
            }
    }

    }
    div.contenido{
        background-color: $color-fondo-section-contenido;
        border-top-right-radius: 23%;
        p{
            padding: 4%;
            text-align: center;
            margin-top: 3.5%;
        }

    }
}
