/* your styles go here */
@font-face {
    font-family: "titulo";
    src: url("../fonts/PermanentMarker-Regular.ttf");
  }
#carro{
    margin-right: 10%;
}
.miheader{
    background: linear-gradient(to top, #33ccff 0%, #3366cc 100%);
}
.miheader2{
    background: linear-gradient(to bottom, #ffbf00 0%, #fcf376 100%);
}
#logo{
    position: relative;
    width: 180px;
    height: 110px;
    border-radius: 50%;
    margin-right:10%;
    opacity: 55%;
}
img.flogo:hover{
    opacity:100%;
}
.imgindex{
    width: 230px;
    height: 230px;
}
#titulo>span{
    z-index:999;
    position:absolute;
    margin-top: 20%;
    margin-right: 10%;
    font-size: 1.8em;
    font-style: oblique;
    font-family: "titulo";
}
#titulo>span:hover{
    opacity: 100%;
    text-shadow: #3366cc;
    
}
.btnform:hover{
    background: linear-gradient(to top, #ffa033 0%, #3366cc 100%);
}
.btnform{
    background: linear-gradient(to bottom, #ffbf00 0%, #e46b55 100%);
    color: white;
    border-radius: 10%;
}
.btnform2:hover{
    background: linear-gradient(to bottom, #ffbf00 0%, #e46b55 100%);
}
.btnform2{
    background: linear-gradient(to top, #7e674e 0%, #7b7b7c 100%);
    color: white;
    border-radius: 10%;
  
}

.encabezadoBack{
    background: linear-gradient(to bottom, #485458 0%, #6693e6 50%, #b9bbbe 100%);
}
.principal{
    height: 100%;
    margin:0;
}


a:hover{
    text-decoration: none;
}

.interaccionesBackend{
    width: 30px;
    height:30px;
    
}