/* your styles go here */

#carro{
    margin-right: 10%;
}
.miheader{
    background: linear-gradient(to top, #33ccff 0%, #3366cc 100%);
}
.miheader2{
    background: linear-gradient(to bottom, #ffbf00 0%, #fcf376 100%);
}
#logo{
    position: relative;
    width: 150px;
    height: 110px;
    border-radius: 50%;
    margin-right:10%;
    opacity: 55%;
}
img.flogo:hover{
    opacity:100%;
}
#titulo>span{
    z-index:999;
    position:absolute;
    margin-top: 20%;
    font-size: 1.5em;
    font-style: oblique;
    opacity: 85%;
}
#titulo>span:hover{
    opacity: 100%;
    text-shadow: #3366cc;
    
}
.btnform:hover{
    background: linear-gradient(to top, #33ccff 0%, #3366cc 100%);
    box-shadow: #ffbf00;
}
.btnform{
    background: linear-gradient(to bottom, #ffbf00 0%, #e46b55 100%);
}
.btnform2:hover{
    background: linear-gradient(to bottom, #ffbf00 0%, #e46b55 100%);
}
.btnform2{
    background: linear-gradient(to top, #33ccff 0%, #3366cc 100%);
}
.principal{
    height: 100%;
    margin:0;
}


a:hover{
    text-decoration: none;
}

.interaccionesBackend{
    width: 50px;
    height:50px;
}